.logo{
    width: 90px;
}

#weather-icon {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    height: 45px;
    margin-top: 5px;
}

#wind-place {
    margin-right: 20px;
}

.parallax-container {
    height: 800px;
    width: 100%;
}

/*Wide card with share menu button*/
.demo-card-wide.mdl-card {
    width: 812px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('assets/images/ParkSpot.png') center / cover;
    padding: 10px;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.imag{
    width: 1000px;
}

.middle {
       display: flex;
       position: absolute;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
   }

   .middle .row {
       margin: 0 auto;
   }
   
#background-parks{
    background: url('../images/stadium.jpg') center / cover;
    padding: 50px;
}

.card-right {
    float: right;
}

.park-image{
    width: 300px;
    height: 450px;
    text-align: center;
}

.card-font {
    font-weight: bold;
    font-family: 'Alegreya', serif;
}

.park-name {
    font-family: 'Alegreya', serif;
<<<<<<< HEAD
    color: rgb(31, 26, 26)
}
=======
    color: rgb(49, 43, 43);
    font-weight: bold;
}

.center{
    text-align: center;
}
>>>>>>> 82a41692b3636412cd1c6f4886c1c167a983f73e
