.logo{
    
    width: 90px;


}

#weather-icon {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    height: 45px;
    margin-top: 5px;
}

#wind-place {
    margin-right: 20px;
}

.parallax-container {
    height: 800px;
    width: 100%;
}

/*Wide card with share menu button*/
.demo-card-wide.mdl-card {
    width: 812px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('assets/images/ParkSpot.png') center / cover;
    padding: 10px;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.imag{
    width: 1000px;
}